<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Poll</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Create Form</h1>
        </div>
    </div>
    <form method="post" action="{% url 'create_poll' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }} <br/>
                        {% endfor %}

                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <p class="errorlist">{{ form.title.errors }}</p>
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    <input type="text" class="form-control" name="{{ form.title.name }}"
                           id="{{ form.title.id_for_label }}" value="{{ form.data.title }}" required>
                </div>

            </div>
            <div class="col">
                <div class="form-group">
                    <p class="errorlist">{{ form.email.errors }}</p>
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    <input type="text" class="form-control" name="{{ form.email.name }}"
                           id="{{ form.email.id_for_label }}" value="{{ form.data.email }}" required>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <p class="errorlist">{{ form.no_questions.errors }}</p>
                    <label for="{{ form.no_questions.id_for_label }}">{{ form.no_questions.label }}</label>
                    <input type="number" class="form-control" name="{{ form.no_questions.name }}"
                           id="{{ form.no_questions.id_for_label }}" value="{{ form.data.no_questions }}" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <p class="errorlist">{{ form.start_date.errors }}</p>
                    <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
                    <input type="text" class="form-control" name="{{ form.start_date.name }}"
                           id="{{ form.start_date.id_for_label }}" value="{{ form.data.start_date }}">

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <p class="errorlist">{{ form.end_date.errors }}</p>
                    <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
                    <input type="text" class="form-control" name="{{ form.end_date.name }}"
                           id="{{ form.end_date.id_for_label }}" value="{{ form.data.end_date }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" value="Create">
            </div>
        </div>
    </form>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>